NET "Q[0]" LOC ="M5";	 # L0, el de la derecha  //el led 
NET "Q[1]" LOC ="M11"; 	 # L1
NET "sw[0]" LOC ="P11";	# sw0, el de la derecha
NET "sw[1]" LOC ="L3";	# sw1


//clock

NET "reset" LOC = "A7";	#bt3, el de la izquierda

NET "sa" LOC = "L14";	# segmento a
NET "sb" LOC = "H12";	# segmento b
NET "sc" LOC = "N14";	# segmento c
NET "sd" LOC = "N11";	# segmento d
NET "se" LOC = "P12";	# segmento e
NET "sf" LOC = "L13";	# segmento f
NET "sg" LOC = "M12";	# segmento g
