//! **************************************************************************
// Written by: Map P.20131013 on Wed Feb 02 12:25:13 2022
//! **************************************************************************

SCHEMATIC START;
COMP "x" LOCATE = SITE "M11" LEVEL 1;
COMP "y" LOCATE = SITE "M5" LEVEL 1;
COMP "a" LOCATE = SITE "F3" LEVEL 1;
COMP "b" LOCATE = SITE "E2" LEVEL 1;
COMP "c" LOCATE = SITE "N3" LEVEL 1;
SCHEMATIC END;

