//! **************************************************************************
// Written by: Map P.20131013 on Mon Mar 14 07:26:35 2022
//! **************************************************************************

SCHEMATIC START;
COMP "sw" LOCATE = SITE "P11" LEVEL 1;
COMP "reset" LOCATE = SITE "A7" LEVEL 1;
COMP "Q" LOCATE = SITE "M5" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

