//! **************************************************************************
// Written by: Map P.20131013 on Sun Mar 06 19:21:55 2022
//! **************************************************************************

SCHEMATIC START;
COMP "cin" LOCATE = SITE "N3" LEVEL 1;
COMP "s" LOCATE = SITE "M5" LEVEL 1;
COMP "cout" LOCATE = SITE "M11" LEVEL 1;
COMP "a" LOCATE = SITE "F3" LEVEL 1;
COMP "b" LOCATE = SITE "E2" LEVEL 1;
SCHEMATIC END;

