//! **************************************************************************
// Written by: Map P.20131013 on Wed Mar 02 18:59:03 2022
//! **************************************************************************

SCHEMATIC START;
COMP "Cout" LOCATE = SITE "M11" LEVEL 1;
COMP "R" LOCATE = SITE "M5" LEVEL 1;
COMP "Cin" LOCATE = SITE "N3" LEVEL 1;
COMP "a" LOCATE = SITE "F3" LEVEL 1;
COMP "b" LOCATE = SITE "E2" LEVEL 1;
SCHEMATIC END;

