//! **************************************************************************
// Written by: Map P.20131013 on Mon Feb 28 11:42:37 2022
//! **************************************************************************

SCHEMATIC START;
COMP "s" LOCATE = SITE "P11" LEVEL 1;
COMP "x" LOCATE = SITE "M5" LEVEL 1;
COMP "a" LOCATE = SITE "M4" LEVEL 1;
COMP "b" LOCATE = SITE "A7" LEVEL 1;
SCHEMATIC END;

