NET "reset" LOC = "G12";	#bt0, el de la derecha


NET "OutCome[0]" LOC ="M5";	 # L0, el de la derecha
NET "OutCome[1]" LOC ="M11"; 	 # L1
NET "OutCome[2]" LOC ="P7";	 # L2
NET "OutCome[3]" LOC ="P6";	 # L3


NET "clk" LOC = "B8"; # Bank = 0, Signal name = MCLK reloj interno
