//! **************************************************************************
// Written by: Map P.20131013 on Wed Mar 09 12:50:12 2022
//! **************************************************************************

SCHEMATIC START;
COMP "Q<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "Q<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "sw" LOCATE = SITE "P11" LEVEL 1;
COMP "reset" LOCATE = SITE "A7" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

